n8n/workflows/sync-partecipanti-dbgym.json
{
  "id": "sync-partecipanti-dbgym",
  "name": "Sync Partecipanti DBGym -> ore-istruttori",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "trigger-1",
      "name": "Trigger 03:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    pl.Descrizione AS corso_dbgym,\n    CONVERT(VARCHAR(5), pi.DataInizio, 108) AS ora,\n    CONVERT(VARCHAR(10), CAST(pi.DataInizio AS DATE), 23) AS data,\n    COUNT(DISTINCT pi.IDUtente) AS partecipanti\nFROM dbgym.dbo.PrenotazioniIscrizione pi\nINNER JOIN dbgym.dbo.PrenotazioniLezioni pll\n    ON pi.IDPrenotazioneLezione = pll.IDPrenotazioneLezione\nINNER JOIN dbgym.dbo.Prenotazioni pl\n    ON pi.IDPrenotazione = pl.IDPrenotazione\nWHERE CAST(pi.DataInizio AS DATE) = CAST(DATEADD(day, -1, GETDATE()) AS DATE)\n  AND pi.IDUtente IS NOT NULL\n  AND pi.IDPrenotazione <> 172\n  AND pl.Attivo <> 0\nGROUP BY pl.Descrizione, CONVERT(VARCHAR(5), pi.DataInizio, 108), CAST(pi.DataInizio AS DATE)",
        "options": {}
      },
      "id": "sql-presenze",
      "name": "SQL - Presenze Ieri",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [440, 300],
      "credentials": {
        "microsoftSql": {
          "id": "YHZnCr0OGdg1ygM8",
          "name": "DBGym SQL Server"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const MAPPING = {\n  'STUDIO 1 REFORMER': 'Pilates',\n  'STUDIO 2 REFORMER': 'Pilates',\n  'IN-TRINITY': 'In-Trinity',\n  'WBS POSTURALE': 'WBS',\n  'PILOGA': 'Piloga',\n  'SHAPE & TONE': 'Functional',\n  'EASY STUDIO 1': 'Easy Reformer',\n  'EASY STUDIO 2': 'Easy Reformer',\n  'WBS EASY POSTURALE': 'Easy WBS',\n  'ESTATE REFORMER': 'Pilates',\n  'ESTATE WBS': 'WBS',\n};\n\nconst rows = $input.all();\n\n// Check for SQL error\nif (rows.length > 0 && rows[0].json.error) {\n  return [{ json: { skip: false, error: true, errorMsg: rows[0].json.error.message || 'Errore SQL' } }];\n}\n\nif (rows.length === 0) {\n  return [{ json: { skip: true } }];\n}\n\nconst data = rows[0].json.data;\nconst items = rows.map(r => {\n  const att = MAPPING[r.json.corso_dbgym];\n  if (!att) return null;\n  return {\n    attivita: att,\n    oraInizio: r.json.ora,\n    partecipanti: r.json.partecipanti\n  };\n}).filter(Boolean);\n\nif (items.length === 0) {\n  return [{ json: { skip: true } }];\n}\n\nreturn [{ json: { data, items, skip: false, error: false } }];"
      },
      "id": "code-mapping",
      "name": "Mapping Nomi",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "cond-noerr",
              "leftValue": "={{ $json.error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-skip",
      "name": "Ha lezioni (no error)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://istruttori.olisticzone.it/api/sync-partecipanti",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "kuvW_q8QAQZO7VL2ZoiVIxBUGGqLuhFV5vSvM9kVOPM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ data: $json.data, items: $json.items }) }}",
        "options": {}
      },
      "id": "http-sync",
      "name": "POST Sync Partecipanti",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 240],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const mappingData = $('Mapping Nomi').first().json;\n\n// SQL error\nif (mappingData.error) {\n  return [{ json: { hasError: true, text: `ERRORE Sync Partecipanti\\nSQL: ${mappingData.errorMsg}` } }];\n}\n\n// HTTP error\nconst result = $input.first().json;\nif (result.error || result.statusCode >= 400) {\n  const msg = result.error?.message || result.message || JSON.stringify(result).slice(0, 200);\n  return [{ json: { hasError: true, text: `ERRORE Sync Partecipanti\\nAPI: ${msg}` } }];\n}\n\n// Success — silent\nreturn [{ json: { hasError: false } }];"
      },
      "id": "code-riepilogo",
      "name": "Check Errori",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-err",
              "leftValue": "={{ $json.hasError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-error",
      "name": "Ha errori?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "chatId": "-1002442024912",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "telegram-notify",
      "name": "Notifica Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1760, 240],
      "credentials": {
        "telegramApi": {
          "id": "olisticzone_bot",
          "name": "Telegram OlisticZone Bot"
        }
      }
    }
  ],
  "connections": {
    "Trigger 03:00": {
      "main": [
        [{ "node": "SQL - Presenze Ieri", "type": "main", "index": 0 }]
      ]
    },
    "SQL - Presenze Ieri": {
      "main": [
        [{ "node": "Mapping Nomi", "type": "main", "index": 0 }]
      ]
    },
    "Mapping Nomi": {
      "main": [
        [{ "node": "Ha lezioni (no error)?", "type": "main", "index": 0 }]
      ]
    },
    "Ha lezioni (no error)?": {
      "main": [
        [{ "node": "POST Sync Partecipanti", "type": "main", "index": 0 }],
        [{ "node": "Check Errori", "type": "main", "index": 0 }]
      ]
    },
    "POST Sync Partecipanti": {
      "main": [
        [{ "node": "Check Errori", "type": "main", "index": 0 }]
      ]
    },
    "Check Errori": {
      "main": [
        [{ "node": "Ha errori?", "type": "main", "index": 0 }]
      ]
    },
    "Ha errori?": {
      "main": [
        [{ "node": "Notifica Telegram", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
